<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://pub-0127533664754318ba82e832d36cea89.r2.dev/uploads/1773248779469-8af8n9.ipa</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <false/>
          <key>url</key>
          <string>https://nextios.chatpart378.workers.dev/assets/images/next.webp</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>needs-shine</key>
          <false/>
          <key>url</key>
          <string>https://nextios.chatpart378.workers.dev/assets/images/next.webp</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.pubg.imobile</string>
        <key>bundle-version</key>
        <string>20720</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Battlegrounds</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
